.skip{
    position: absolute;
    top: -40px;
    background-color: gold;
}

.skip:focus{
    top: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 30px;
}

header li{
    font-size: 80px;
    margin: 0 3%;
    padding: 5px;
    text-align: center;
    background-color: #9e9a75;
}

.current {
    color: gray;
}

.army {
    background-color: #41533b;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#main h2 {
    font-size: 30px;
    align-items: center;
    text-align: center;
}